.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}












#profile {
  position: absolute;
  top: 0px;
  min-width: 200px;
  min-height: 100px;
  max-width: 200px;
  max-height: 150px;
  background-color: rgb(206, 29, 29);
  margin: 1px;
}

#teams{
  position: absolute;
  top: 101px;
  display: block;
  min-width: 200px;
  min-height: 600px;
  max-width: 200px;
  max-height: 1050px;
  background-color: rgb(29, 206, 70);
  margin: 1px;
}

#options {
  position: absolute;
  left: 201px;
  top: 0px;
  display: block;
  min-width: 600px;
  min-height: 100px;
  max-width: 500px;
  max-height: 150px;
  background-color: rgb(245, 226, 17);
  margin: 1px;
}

#display {
  position: absolute;
  left: 201px;
  top: 101px;
  display: block;
  min-width: 600px;
  min-height: 600px;
  max-width: 1200px;
  max-height: 1050px;
  background-color: rgb(36, 17, 245);
  margin: 1px;
  color: white;
}

#standUp {
  position: absolute;
  left: 20px;
  top: 480px;
  display: block;
  min-width: 550px;
  min-height: 100px;
  max-width: 1200px;
  max-height: 200px;
  background-color: rgb(255, 255, 255);
  margin: px;
  border-radius: 50px;
}









